
@using E2EViewModals.User
@model List<ReviewerViewModal>
@{
    ViewBag.Title = "ManageReviewer";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    table th {
        padding-right: 18px !important;
    }

    table td {
        word-wrap: break-word;
        word-break: break-all;
        vertical-align: middle;
    }

    label.tgl-btn {
        margin: auto;
    }
</style>

<section id="content">

    <div class="g12 nodrop" style="margin-left: 0px;">
        <h1 style="margin-top: 0px;">Manage Reviewers</h1>
        <p style="margin-bottom: 5px;">List of Reviewers</p>
    </div>

    <table class="datatable">
        <thead>
            <tr>
                <th>Reviewer First Name</th>
                <th>Reviewer Last Name</th>
                <th>Active</th>
                <th>Cell Phone</th>
                <th>Work Phone</th>
                <th>Primary Email</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ReviewerViewModal user in Model)
            {
                <tr class="gradeX">
                    <td>@user.ReviewerFirstName</td>
                    <td>@user.ReviewerLastName</td>
                    <td>
                        <input class="tgl tgl-flip cbActive nocheckbox" id="@("cb" + user.ReviewerID.ToString())" type="checkbox" @(user.Active != null && user.Active == 1 ? "checked" : "")
                               EmployerId="@user.EmployerID" ReviewerID="@user.ReviewerID" UserAccountID="@user.UserAccountID" />
                        <label class="tgl-btn" data-tg-off="No" data-tg-on="Yes" for="@("cb" + user.ReviewerID.ToString())"></label>
                    </td>

                    <td>@user.CellPhoneNumber</td>
                    <td>@user.WorkPhoneNumber</td>
                    <td>@user.PrimaryEmail</td>
                    <td>@user.Address1</td>
                    <td>@user.Address2</td>
                    <td>@user.City</td>
                    <td>@user.State</td>
                    <td>@user.zip</td>
                    <td>
                        <button class="small btnEdit"
                                EmployerId="@user.EmployerID" ReviewerID="@user.ReviewerID" UserAccountID="@user.UserAccountID">Edit</button>
                        <button class="small btnDelete"
                                EmployerId="@user.EmployerID" ReviewerID="@user.ReviewerID" UserAccountID="@user.UserAccountID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>

<script>
    $(document).ready(function () {
        $(".cbActive").on("click", function () {
            var roleID = "3";
            var userID = parseInt($(this).attr("ReviewerID"));
            var employerId = parseInt($(this).attr("EmployerId"));
            var isActive = $(this).is(":checked");

            $.ajax({
                url: '/User/ManageUserActivation',
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: { roleID: roleID, userID: userID, employerId: employerId, isActive: isActive }
            }).done(function (result) {
                if (result.Code == '1') {
                    $.msg(result.Message, { header: 'Sucess' });
                }
                else {
                    $.msg(result.Message, { header: 'Fail' });
                }
            });
        });

        $(".btnDelete").on("click", function () {
            var roleID = "3";
            var userID = parseInt($(this).attr("ReviewerID"));
            var employerId = parseInt($(this).attr("EmployerId"));

            $.confirm('Are your sure to delete this user?', function () {

                $.ajax({
                    url: '/User/DeleteUser',
                    type: 'POST',
                    cache: false,
                    dataType: 'json',
                    data: { roleID: roleID, userID: userID, employerId: employerId }
                }).done(function (result) {
                    if (result.Code == '1') {
                        $.msg(result.Message, { header: 'Sucess' });
                        setTimeout(function () {
                            window.location = "/EmployerAdmin/ManageReviewer";
                        }, 2000);
                    }
                    else {
                        $.msg(result.Message, { header: 'Fail' });
                    }
                    });

            });
        });

        $(".btnEdit").on("click", function () {
            var reviewerID = parseInt($(this).attr("ReviewerID"));
            window.location = "/EmployerAdmin/EditReviewer?reviewerID=" + reviewerID;
        });
    });
</script>

